.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #cecece;
}

.navbar-logo {
  margin-left: 20px;
}

.navbar-logo a{
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
  position: relative;
}

.navbar-logo a:hover:after {
  width: 100%;
}

.navbar-logo a:after {
  content: '';
  position: absolute;
  bottom: -8%;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 4px;
  background: #00538C;
  transition: .35s;
}

.navbar-right {
  display: inline-flex;
  min-width: 110px;
  justify-content: space-between;
  align-items: center;
}

.navbar-right a, .navbar-right svg {
  height: 35px;
  width: 20px;
}

#hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px);
  -ms-transform: translateY(-13px);
  -o-transform: translateY(-13px);
  transform: translateY(-13px);
}

.three{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #ecf0f1;
  text-align: center;
  z-index: 100;
  margin-right: 20px;
}

.hamburger .line{
  width: 40px;
  height: 3px;
  background-color: black;
  display: block;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.is-active .line{
  background-color: white;
}

.hamburger:hover{
  cursor: pointer;
}


/* SIDEDRAWER */
  
.nav-container {
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin:  0 auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #00538C;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.overlay.open {
  opacity: 0.98;
  visibility: visible;
  height: 100%;
  z-index: 20;
}

.overlay.open li{
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.overlay nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%; 
}

.overlay nav ul li {
  height: calc(100% / 4);
  min-height: 50px;
  opacity: 0;
}

.overlay nav ul li a {
  display: block;
  position: relative;
  color: white;
  text-decoration: none;
  overflow: hidden;
}

.overlay nav ul li a:hover:after {
  width: 100%;
}

.overlay nav ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: white;
  transition: .35s;
}

/* FOOTER */

.footer {
  border-top: 1px solid #ececec;
  background-color: #ececec;
  min-height: 300px;
}

.footer-first-row {
  position: relative;
  width: 100%;
  height: 130px;
  margin-top: 40px;
}

.substack-embed {
  position: absolute;
  top: 5%;
  left: 2%;
  display: inline-block;
  padding: 0 10px;
  width: 300px;
}

.substack-embed p{
  margin: 0 15px;
}

.substack-embed iframe {
  z-index: 5;
}

.footer-right {
  position: absolute;
  top: 30%;
  right: 2%;
  width: 64%;
  min-width: 300px;
  text-align: center;
}

.footer-right a {
  text-decoration: none;
  color: #4f4f4f;
  font-size: 30px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.footer-right a:hover {
  text-decoration: none;
  color: #0CAFFF;
}

.footer-second-row {
  position: relative;
  height: 90px;
}

.footer-social-icons {
  position: absolute;
  bottom: 2%;
  right: 10%;
}

.footer-social-icon {
  height: 60px;
  color: #4F4F4F;
  transition: all 0.3s ease-in-out;
}
.footer-social-icon:hover {
  color: #0CAFFF;
}

.footer-slogan {
  position: absolute;
  bottom: 15%;
  left: 4%;
}

.footer-slogan span{
  color: #4F4F4F;
  font-weight: lighter;
}
/* @import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap'); */

@font-face {
    font-family: 'Cardo';
    src: './static/Cardo-Regular.ttf' format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Cardo';
    src: './static/Cardo-Bold.ttf' format('truetype');
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: 'Cardo';
    src: './static/Cardo-Italic.ttf' format('truetype');
    font-weight: 400;
    font-style: italic;
}

body { 
    font-family: "Cardo";
    margin: 0 0;
}

.page-container {
    min-height: calc(100vh - 75px);
    padding: 3% 20%;
}

.index-header {
    text-align: center;
}

.logo-container {
    width: 420px;
    margin: 25px auto;
}

hr.soft-separator {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(31,117,254,0.8), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(31,117,254,0.8), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(31,117,254,0.8), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(31,117,254,0.8), rgba(0,0,0,0));
    border: 0;
    width: 40%;
    /* rgba(0,0,0,.8) */
}

.articles-container {
    width: 60%;
    margin: 5% auto;   
}

.articles-container h2{
    font-size: 20px;
    margin: 5px 0;
}

.article-wrapper {
    margin-bottom: 35px;
}

.article-contributors {
    font-size: 14px;
    margin-bottom: 15px;
}

.article-description {
    font-weight: lighter;
    font-size: 18px;
}

.article-description a {
    color: #00538C;
    font-weight: bold;
}

.article-title a {
    text-decoration: none;
    color: #00538C;
}

.article-title h2 {
    font-size: 22px;
}

.article-labels {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 35px;
}

.article-labels svg {
    height: 15px;
    margin-top: 3px;
    width: 30px;
}

.article-labels p {
    font-size: 14px;
    font-weight: lighter;
}

.article-tag {
    margin-right: 10px;
    border: #87CEFA 0.5px solid;
    border-radius: 2px;
    background-color: white;
    padding: 4px 12px;
    display: flex;
    height: 20px;
}
.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

.about-header-wrapper {
  padding-top: 2%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.image-container img {
  object-fit: cover;
  overflow: hidden;
  height: 400px;
  min-width: 300px;
}

.intro-container {
  min-width: 300px;
  height: 400px;
  margin-left: 25px;
}

.intro-text-container {
  margin-top: 20%;
}

.about-page h2 {
  margin-top: 30px;
}

.about-page hr {
  border: none;
}

.consulting-logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.consulting-logos img {
  width: 150px;
  margin: 15px;
}